<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Search The Best Deal For You</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p><a href="another">Enter Merchant Mode</a></p>

<form method="POST" action="/search">
  <select name="coupontype">
    <option value disalbe selected>Which Coupon?</option>
    <!-- <option value="both">Both</option> -->
    <option value="percentage">Percentage</option>
    <option value="absval">Absolute Value</option>
  </select>
  <select name="products">
    <option value disalbe selected>Which Products?</option>
    {% for n in product %}
    <option value={{n[0]}}>{{n[1]}}</option>
    {% endfor %}
  </select>
  <select name="creditcard">
    <option value disalbe selected>Which Bank and Credit Card?</option>
    {% for n in creditcard %}
    <option value={{n}}>{{n}}</option>
    {% endfor %}
  </select>
  <!-- <select name="bank">
    {% for n in bank %}
    <option value={{n}}>{{n}}</option>
    {% endfor %}
  </select> -->
  <input type="submit" value="Search">
  <p><a href="/">Search Again</a></p>
</form>

</body>


</html>
